<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KiaOra.Properties.Settings.hba_leagueConnectionString"
            connectionString="Data Source=HA-PC01;Initial Catalog=hba_league;Persist Security Info=True;User ID=KIAORA_USER;Password=MyApp357"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>